.newsBox {
    width: 770px;
    min-height: 300px;
    _height: 300px;
    margin:0 auto;
}
.newsTitle {
    font-size: 20px;
    font-family: "微软雅黑";
    text-align: center;
    margin: 10px 0;
}
.newsInfo {
    color: #666;
    text-align: center;
    border-bottom: 1px dotted #666;
}
.newsContent {
    font-size: 14px;
    line-height: 25px;
    padding: 20px;
    text-indent: 2em;
}